@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  scroll-behavior: smooth;
}

.custom-video {
  width: 100%;
  height: 40vw; /* Set your desired height */
  object-fit: cover; /* This will help maintain the aspect ratio and fill the container */
}

/* 
.hover:scale-105 {
  transform: scale(1.05);
} */
.transition-all {
  transition: all 0.3s ease-in-out;
}


.contact_icon {
  color: #fff;
  border-radius: 50px;
  height: 48px;
  width: 48px;
  display: flex;
  justify-items: center;
  align-items: center;
  box-shadow: 2px 2px 3px #999;
  transform: translatey(0px);
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 #54a15d;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  transition: all 300ms ease-in-out;
}
@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}


@-webkit-keyframes pulse{
  0%{
    -webkit-transform: scale(0.9);
  }
  50%{
    -webkit-transform: scale(1.1);
  }
  100%{ 
    -webkit-transform: scale(0.9);
  }
}
.mypage-alo-phone {
    /* position: fixed;
    left: 30px;
    bottom:80px; */
    visibility: visible;
    background-color: transparent;
    width: 70px;
    height: 70px;
    cursor: pointer;
    z-index: 200000 !important;
}
.mypage-alo-ph-img-circle {
        width: 30px;
        height: 30px;
        top: 43px;
        left: 43px;
        position: absolute;
        background:  url(https://i.imgur.com/J9AXAq7.png) no-repeat center center;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid transparent;
        opacity: .7;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        background-color: #1A812C;
        background-size: 70%;
      -webkit-animation: pulse 01s infinite;
}
.mypage-alo-ph-circle-fill {
  
    width: 60px;
    height: 60px;
    top: 28px;
    left: 28px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: hsl(130, 66%, 30% , 0.5);
    opacity: .75 !important;
    -webkit-animation: pulse 1s infinite;
}
.mypage-alo-ph-circle{
    width: 90px;
    height: 90px;
    top: 12px;
    left: 12px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    border-color:#ffb56b;
    opacity: .5;
}
